*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
 
}
html,body{
  height:100%;
  width:100%;
  background-color:rgb(3, 2, 2);
  color:white;
  font-family:Montserrat;
  overflow:hidden;
}
#main{
  height:100%;
  width:100%;
 
}
#nav{
  display:flex;
  justify-content:space-between;
  font: weight 300px;
  padding: 25px;
}
#nav h2{
 text-transform:uppercase;
 font-weight:300;
}
#nav2{
  display:flex;
  gap:30px
}
#nav2 h2{

}
#mid{
padding-top:150px;

}

#mid h1{
  font-size:150px;
  font-weight:400;
  line-height:140px;
  position: relative;
  z-index:9;
 
}
#mid h1:nth-child(1){
  padding-left:10%;
}
#mid h1:nth-child(2){
  padding-left:35%;
}
#mid h1:nth-child(3){
  padding-left:40%;
}
#footer{
  display:flex;
  justify-content:space-between;
  padding-top:150px;
  padding-left:25px;
  padding-right:25px;
}
#footer h2{
  font-weight:300;
}
img{
  height:400px;
  position: absolute;
  top: 12%;
  left:46%;
}
#img3{
  rotate:8deg;
}
#img2{
  rotate:15deg
}
#img1{
  rotate:23deg;
}